doctype html
html
    head
        meta(charset="utf-8")
        meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/styles.css')
    body
        main.main
            .calculator
                .top-bar
                .screen
                    #screen-operation.screen__top 0
                    #screen-result.screen__content 0
                #buttons.buttons
                    .button C
                    .button +/-
                    .button %
                    .button /
                    .button 7
                    .button 8
                    .button 9
                    .button *
                    .button 4
                    .button 5
                    .button 6
                    .button -
                    .button 1
                    .button 2
                    .button 3
                    .button +
                    .button 0
                    .button
                    .button ,
                    .button =

        script(src='js/scripts.js')
